<!-- <mdb-navbar   mdbStickyHeader>

    <img src="assets/img/log.png" alt="Italian Trulli" height="40px" width="40px" > 
    <ul>
      
        <li>المزادات</li>
        <li>تواصل معنا</li>
        <li>عن المزاد العلني</li>
        <li>الاسئلة الشائعة</li>
        <li style="color:#07c0de">الرئيسية</li>
    </ul>
    <img id="logo" src="assets/img/thiqah.png" alt="Italian Trulli" height="90px" width="90px" >
 
 
   </mdb-navbar> -->
   <nav mdbStickyHeader>
    <a href="">  <img src="assets/img/log.png" alt="Italian Trulli" height="40px" width="40px" ></a>
      <ul>
        
          <li>المزادات</li>
          <li>تواصل معنا</li>
          <li>عن المزاد العلني</li>
          <li>الاسئلة الشائعة</li>
          <li style="color:#07c0de">الرئيسية</li>
      </ul>
      <img id="logo" src="assets/img/thiqah.png" alt="Italian Trulli" height="90px" width="90px" >
   
  </nav>
 
  
 
